<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Lista de Conductores</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">Agregar Conductor</button>
  </div>

  <table *ngIf="listDriver.length>0" class="table table table-hover">
    <thead>
    <tr>
      <th scope="col">lastname</th>
      <th scope="col">firstname</th>
      <th scope="col">ssd</th>
      <th scope="col">adress</th>
      <th scope="col">city</th>
      <th scope="col">phone</th>
      <th scope="col">active</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listDriver" class="table-active">
      <td>{{item.lastname}}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.ssd}}</td>
      <td>{{item.adress}}</td>
      <td>{{item.city}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.active}}</td>
      <td>
        <button [routerLink]="['/edit',item.id]" type="button" class="btn btn-info " >Editar</button>
        <button (click)="deleteDrive(item.id!)" type="button" class="btn btn-danger ms-2"  >Eliminar</button>
      <td>
    </tr>
    </tbody>
  </table>
  <h5 *ngIf="listDriver.length>0" > No hay productos para mostrar</h5>
</div>
